@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.button-transform:active{
    transform: scale(0.9);
    transition: .2s;
}

.input-style{
    box-shadow: 0px 2px 20px 0px #55c;
    padding: 10px;
}

.input-style:focus{
    outline: none;
}